@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-[#FF5A5F];
  }
}

html,
body,
:root{
    height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
    z-index: 0 !important;
}

.rdrMonth {
    width: 100% !important;
}

.rdrCalendarWrapper {
    font-size: 16px !important;
    width: 100% !important;
}